p{
  margin:0;
}
h2{
  margin-top: 50px;
}

/* ヘッダー */
header{
  display:flex;
  p{
    margin-right:10px;
  }
}

form p, form input, form button { /* form改行 */
  display: block;
  margin-bottom: 10px; 
  form p{
    margin-bottom: 10px; 
  }
}

.head_under_button{
  margin-bottom: 20px;
}

.thread{
  margin: 30px 0;
  a{
    display:block;
  }
}
.comment{
  margin-bottom:10px;
}
.comment_head{
  h2{
    margin-bottom:0;
  }
}

.button_horizontally{
  display:flex;
  gap:10px;
}
